
    

    <div class="footer-dark mt-4 " style="height: auto;" id="footer56">
   
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-6 item">
                    <h3 style="color: #fff;text-align: center;">Services</h3>
                    <ul>
                        <li style="text-align: center;"><a href="#">Home</a></li>
                        <li style="text-align: center;"><a href="#">Our Service</a></li>
                        <li style="text-align: center;"><a href="#">Product</a></li>
                        <li style="text-align: center;"><a href="#">Contact Us</a></li>
                        <li style="text-align: center;"><a href="#">Help</a></li>
                        <li style="text-align: center;"><a href="#">Contract</a></li>
                        <li style="text-align: center;"><a href="#">Whole Sale</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-6 item">
                    <h3 style="color: #fff;text-align: center;">Quick Links</h3>
                    <ul>
                        <li style="text-align: center;"><a href="#">Carpet</a></li>
                        <li style="text-align: center;"><a href="#">Vinyl</a></li>
                        <li style="text-align: center;"><a href="#">Laminate</a></li>
                        <li style="text-align: center;"><a href="#">Rugs</a></li>
                        <li style="text-align: center;"><a href="#">Artificial Grass</a></li>
                    </ul>
                </div>
               
                <div class=" item social pb-4 pt-4">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
                <hr id="line">
          </div>
            
          
        </div>

        
        <p class="copyright pt-3" id="first-txt"><i class="fa fa-map-marker pe-2"></i>128 Carven Park Rd,London NW10 8QD</p>
        <p class="copyright" id="second-txt"><i class="fa fa-phone pe-2"></i>020 8961 0401</p>
        <p style="text-align: center;padding-top: 15px;">Craven Park Carpets</p>

        <p id="paragraph-6" class="text-justify">

          Craven Park Carpets Ltd is a trading name used by Craven Park Carpets Ltd, Reg. No. 10104122 whose Registered Office is at 128 Craven Park Road, London,  NW10 8QD, incorporated in England and Wales.
        
        </p>
    
</div>
