<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

<div class="slideshow-container">

    <div class="mySlides fadex">
      <div class="numbertext">1 / 5</div>
      <img src="./images/carousel-carp.jpg" style="width:100% !important">
      <div class="text">Carpets</div>
    </div>

    <div class="mySlides fadex">
      <div class="numbertext">2 / 5</div>
      <img src="./images/rug-2.jpg" style="width:100% !important">
      <div class="text">Rugs</div>
    </div>

    <div class="mySlides fadex">
      <div class="numbertext">3 / 5</div>
      <img src="/images/vinyl1.jpg" style="width:100% !important">
      <div class="text">Vinyl</div>
    </div>

    <div class="mySlides fadex">
      <div class="numbertext">4 / 5</div>
      <img src="./images/laminate.jpg" style="width:100% !important">
      <div class="text">Laminate</div>
    </div>

    <div class="mySlides fadex">
      <div class="numbertext">5 / 5</div>
      <img src="./images/carousel-grass.png" style="width:100% !important;" >
      <div class="text">Artificial Grass</div>
    </div>


    <a class="prev" onclick="plusSlides(-1)" id="btn1">&#10094;</a>
    <a class="next" onclick="plusSlides(1)" id="btn2">&#10095;</a>
    <div style="text-align:center">
      <span class="dot active" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
      <span class="dot" onclick="currentSlide(4)"></span>
      <span class="dot" onclick="currentSlide(5)"></span>
     
    </div>
  </div>



  <script>


    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("dot");
      if (n > slides.length) { slideIndex = 1 }
      if (n < 1) { slideIndex = slides.length }
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex - 1].style.display = "block";
      dots[slideIndex - 1].className += " active";
    }
  </script>
</body>
</html>