 <div class="container-fluid sticky-top" style="top: 85px !important;">
    <div class="row">
        
          <div class="col-md-12 bg-light navbar navbar-expand-sm justify-content-center pt-2"> 
         
           <ul style="list-style: none;display:flex;" class="navbar-2">
           <li><a class="text-dark" href="#carpets"  style="text-decoration: none;padding-right:14px;font-size: 1.50vw;">Carpets</a> </li>
           <li><a class="text-dark" href="#rugs"  style="text-decoration: none;padding-left:14px;font-size: 1.50vw;">Rugs</a> </li>
           <li><a class="text-dark" href="#vinyles"  style="text-decoration: none;padding-left:14px;font-size: 1.50vw;">Vinyles</a> </li>
           <li><a class="text-dark" href="#laminates"   style="text-decoration: none;padding-left:14px;font-size: 1.50vw ;">Laminates</a> </li>
           <li><a class="text-dark artifical-link" href="#artificial-grass" style="text-decoration: none;padding-left:14px;font-size: 1.50vw;">Artificial Grass</a> </li>
         
           </ul> 
      </div>
      </div>
      </div>

   

