 <div class="container-fluid sticky-top" style="top: 90px !important;">
    <div class="row">
        
          <div class="col-md-12 bg-light navbar navbar-expand-sm justify-content-center"> 
         
           <ul style="list-style: none;display:flex;justify-content: ce;">
           <li><a class="text-dark" href="#"  style="text-decoration: none;padding-right:14px;">Rugs</a> </li>
           <li><a class="text-dark" href="#"  style="text-decoration: none;padding-left:14px;">Carpets</a> </li>
           <li><a class="text-dark" href="#"  style="text-decoration: none;padding-left:14px;">Vinyle</a> </li>
           <li><a class="text-dark" href="#"   style="text-decoration: none;padding-left:14px;">Laminate</a> </li>
           <li><a class="text-dark" href="#" style="text-decoration: none;padding-left:14px;font-size: small;">Artificial Grass</a> </li>
         
           </ul> 
      </div>
      </div>
      </div>

   

