<div class="container-fluid">
    <div class="row">
        
          <div class="col-md-12 bg-light navbar navbar-expand-sm"> 
         
           <ul class="navbar-nav mx-auto">
            <li class="nav-item"> <a class="nav-link text-dark" href="/islamic" style="justify-content: space-between; padding-right: 6rem;">Rugs</a> </li>
          <li class="nav-item"> <a class="nav-link text-dark" href="/islamic" style="justify-content: space-between; padding-right: 6rem;">Carpets</a> </li>
          <li class="nav-item"> <a class="nav-link text-dark" href="/politics" style="justify-content: space-between; padding-right: 6rem">Vinyle</a> </li>
          <li class="nav-item"> <a  class="nav-link text-dark" href="/engineering" style="justify-content: space-between; padding-right: 6rem" >Laminate</a> </li>
          <li class="nav-item"> <a  class="nav-link text-dark " href="/history" style="justify-content: space-between; padding-right: 6rem">Artificial Grass</a> </li>
         
           </ul> 
      </div>
      </div>
      </div>