<div class="container-fluid sticky-top" style="top: 90px !important;">
    <div class="row">
        
          <div class="col-md-12 bg-light navbar navbar-expand-sm "> 
         
           <ul class="navbar-nav mx-auto">
            <li class="nav-item"> <a class="nav-link text-dark" href="#" style="justify-content: space-between; padding-right: 6rem;">Rugs</a> </li>
          <li class="nav-item"> <a class="nav-link text-dark" href="#" style="justify-content: space-between; padding-right: 6rem;">Carpets</a> </li>
          <li class="nav-item"> <a class="nav-link text-dark" href="#" style="justify-content: space-between; padding-right: 6rem">Vinyle</a> </li>
          <li class="nav-item"> <a  class="nav-link text-dark" href="#" style="justify-content: space-between; padding-right: 6rem" >Laminate</a> </li>
          <li class="nav-item"> <a  class="nav-link text-dark " href="#" style="justify-content: space-between; padding-right: 6rem">Artificial Grass</a> </li>
         
           </ul> 
      </div>
      </div>
      </div>

    <!--   <div class="container bg-light">
        <div class="row">
          <ul>
            <li><a href="#">Carpet</a></li>
          </ul>
        </div>
      </div> -->