<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Glorious</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container">
          <a class="navbar-brand" href="/" id="header-txt" style="font-size:x-large ;font-family: 'Secular One', sans-serif;font-weight: 600;">Craven Park Carpets <br> <h6 class="text-center text-light" id="header-txt2">Service You Can Trust</h6></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar" id="button-navbarr">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse justify-content-center " id="collapsibleNavbar">
            <ul class="navbar-nav">
              <li class="nav-item" style="margin-top:20px" id="nav-item1">
                <a href="#" class="nav-link" style="font-size: larger;color: #fff;text-decoration:none;padding-right: 30px;"><i class="fa-solid fa-headset" style="font-size: larger;padding-right: 5px;"></i>Our Service</a></li>
              </li>
              <li class="nav-item" style="margin-top:20px">
                <a href="#" class="nav-link" style="font-size: larger;color: #fff;text-decoration:none;padding-right: 30px;"><i class="fa-brands fa-product-hunt"></i> Products</a>
              </li>
              
              <li class="nav-item" style="margin-top:20px">
               <a href="/contact" class="nav-link" style="font-size: larger;color: #fff;text-decoration:none;padding-right: 30px;"><i class="fa fa-address-book" style="font-size: larger;"></i> Contact</a>
              </li>
      
              <li class="nav-item" style="margin-top:20px">
                <a href="#" class="nav-link" style="font-size: larger;color: #fff;text-decoration:none;padding-right: 30px; "><i class="fa-solid fa-circle-question" style="font-size: larger;"></i> Help</a>
              </li>
      
              <li class="nav-item" style="margin-top:20px">
                <a href="#" class="nav-link" style="font-size: larger;color: #fff;text-decoration:none;padding-right: 30px; "> <i class="fa-solid fa-file-contract"></i> Contract</a>
              </li>
      
              <li class="nav-item" style="margin-top:20px">
                <a href="#" class="nav-link" style="font-size: larger;color: #fff;text-decoration:none; ">WholeSale</a>
              </li>
      
            </ul>
      
      
          </div>
        </div>
      </nav>
      
</body>
</html>