
  
<div class="container">
    <div class="row">
    <div class="col-md-4 bg-danger" style="border-radius: 10px;" id="div-red">

        <img src="./images/Artboard 1.png" alt="" style=" display: block;
        width: 95%;
        height: auto;
        -o-object-fit: cover;
           object-fit: cover;
           margin-top:25px;
           display: block;
           margin-left: auto;
           margin-right: auto;
           "
           
            id="img-red">

    </div>
    <div class="col-md-4 bg-warning divs" style="border-radius: 10px;border-right: 2px solid white;border-left: 2px solid white;" id="div-yellow">

        <h1 class="text-center pt-4" style="font-family: 'Secular One', sans-serif;font-weight: 600;">Book A Home <br> Or <br> Virtual Consultation</h1>

    </div>
    <div class="col-md-4 bg-danger" style="border-radius: 10px;" id="div-red2">

        <h4 style="letter-spacing: 1px;text-align: center;font-family: 'Secular One', sans-serif;font-weight: 600;text-justify: auto;font-size:xx-large;color: white;" class="pt-5 p-pric"> <span style="padding-right: 10px;"> Carpet From 4.99 <sub>m</sub><sup>2</sup></span>   </h4>
        <br>
        <h4  style="letter-spacing: 1px;text-align: center;font-family: 'Secular One', sans-serif;font-weight: 600;text-justify: auto;font-size: xx-large;color: white;"> <span> Vinyle From 8.99 <sub>m</sub><sup>2</sup></span></h4>
    </div>

  </div>
</div>





<div class="container">
  <div class="row">

      <h1 class="text-center display-4 pb-2 " style="font-weight: 400;padding-top: 70px;"><a name="carpets"> Carpets</a></h1>

      <div class="row" style="justify-content: center;">

        <div class="col-md-4">

          <img src="/productPic/carpet-1.jpg" style="width:100%;height:250px;">
        </div>

        <div class="col-md-4">
          <img src="/productPic/carpet-2.jpg" style="width:100%;height:250px;margin-bottom: 7px;">
        </div>

        <div class="col-md-4">

          <img src="/productPic/rug-1.jpg" style="width:100%;height:250px;">
        </div>

  
      </div>

      <div class="row">

        <div class="col-md-4">
          <img src="/productPic/carpet-4.jpg" style="width:100%;height:250px;margin-bottom: 7px;">
          
        </div>

        <div class="col-md-4">
          <img src="/productPic/carpet-5.jpg" style="width:100%;height:250px;margin-bottom: 7px;">
        </div>

        <div class="col-md-4">
          <img src="/productPic/carpet-6.jpg" style="width:100%;height:250px;margin-bottom: 7px;">
        </div>

      </div>


      <h1 class="text-center pb-2 display-4 " style="font-weight: 400;padding-top: 70px;"> <a name="rugs">Rugs</a></h1>

      <div class="row" style="justify-content: center;">


        <div class="col-md-4">
          <img src="/productPic/carpet-3.jpg" style="width:100%;height:250px;margin-bottom: 7px;">
        </div>

     

        <div class="col-md-4">
          <img src="/productPic/rug-2.jpg" style="width:100%;height:250px;margin-bottom: 7px;">
        </div>

        <div class="col-md-4">
          <img src="/productPic/rug-3.jpg" style="width:100%;height:250px;margin-bottom: 7px;">
        </div>

  
      </div>

      <div class="row">

        <div class="col-md-4">
          <img src="/productPic/rug-4.jpg" style="width:100%;height:250px;margin-bottom: 7px;">
          
        </div>

        <div class="col-md-4">
          <img src="/productPic/rug-5.jpg" style="width:100%;height:250px;margin-bottom: 7px;">
        </div>

        <div class="col-md-4">
          <img src="/productPic/living-room-rug.jpg" style="width:100%;height:250px;margin-bottom: 7px;">
        </div>

      </div>

      
      <h1 class="text-center pb-2 display-4 " style="font-weight: 400;padding-top: 70px;"><a name="vinyles">Vinyles</a> </h1>

      <div class="row" style="justify-content: center;">

        <div class="col-md-4">

          <img src="/productPic/vinyle-1.jpg" style="width:100%;height:250px;margin-bottom: 7px;">
        </div>

        <div class="col-md-4">
            <img src="/productPic/vinyle-2.jpg" style="width:100%;height:250px;margin-bottom: 7px;">
        </div>

        <div class="col-md-4">
          <img src="/productPic/vinyle-flooring.jpg" style="width: 100%;height:250px;margin-bottom: 7px;">
        </div>

  
      </div>

      <h1 class="text-center pb-2 display-4 " style="font-weight: 400;padding-top: 70px !important; "><a name="laminates">Laminates</a></h1>

      <div class="row" style="justify-content: center;">

        <div class="col-md-4">

          <img src="/productPic/laminate-1.jpg" style="width:100%;height:250px;margin-bottom: 7px;">
        </div>

        <div class="col-md-4">
          <img src="/productPic/laminate-2.jpg" style="width:100%;height:250px;margin-bottom: 7px;">
        </div>

        <div class="col-md-4">
          <img src="./images/laminate.jpg" style="width:100%;height:250px;margin-bottom: 7px;">
        </div>

  
      </div>


      <h1 class="text-center pb-2 display-4 " style="font-weight: 400;padding-top: 70px;"><a name="artificial-grass">Artificial Grass</a></h1>

      <div class="row" style="justify-content: center;">

        <div class="col-md-4">

          <img src="/productPic/artificial-grass-5.jpg" style="width:100%;height:250px;margin-bottom: 7px;">
        </div>

        <div class="col-md-4">
          <img src="/productPic/7edd6434-4f5d-4eb8-b2d8-81953b575e6c-1440x1080.jpg" style="width:100%;height:250px;margin-bottom: 7px;">
        </div>

        <div class="col-md-4">
          <img src="/productPic/rolled-grass.jpg" style="width:100%;height:250px;margin-bottom: 7px;">
        </div>

  
      </div>

      <div class="row">

        <div class="col-md-4">
          <img src="/productPic/artificial-grass-1.jpg" style="width:100%;height:250px;margin-bottom: 7px;">
          
        </div>

        <div class="col-md-4">
          <img src="/productPic/artificial-grass-2.jpg" style="width:100%;height:250px;margin-bottom: 7px;">
        </div>

        <div class="col-md-4">
          <img src="/productPic/artificial-grass-6.jpg" style="width:100%;height:250px;margin-bottom: 7px;">
        </div>

      </div>



      

     
  </div>
</div>

<!-- <div class="container">

  <div class="row">

    <div class="col-md-3">
      <h1 class="text-center" style="padding:4rem">Carpets</h1>
      <img src="/productPic/carpet-1.jpg" style="width:365px;height:250px;margin-bottom: 7px;">
      <img src="/productPic/carpet-2.jpg" style="width:365px;height:250px;margin-bottom: 7px;">
      <img src="/productPic/carpet-3.jpg" style="width:365px;height:250px;margin-bottom: 7px;">
      
      <img src="/productPic/carpet-4.jpg" style="width:365px;height:250px;margin-bottom: 7px;">
      <img src="/productPic/carpet-5.jpg" style="width:365px;height:250px;margin-bottom: 7px;">
      <img src="/productPic/carpet-6.jpg" style="width:365px;height:250px;margin-bottom: 7px;">
    </div>








    <div class="col-md-3">
      <h1 class="text-center" style="padding:4rem;">Rugs</h1>
      <img src="/productPic/rug-1.jpg" style="width:365px;height:250px;margin-bottom: 7px;">
      <img src="/productPic/rug-2.jpg" style="width:365px;height:250px;margin-bottom: 7px;">
      <img src="/productPic/rug-3.jpg" style="width:365px;height:250px;margin-bottom: 7px;">
      <br><br>
      <img src="/productPic/rug-4.jpg" style="width:365px;height:250px;margin-bottom: 7px;">
      <img src="/productPic/rug-5.jpg" style="width:365px;height:250px;margin-bottom: 7px;">
      <img src="/productPic/rug-6.jpg" style="width:365px;height:250px;margin-bottom: 7px;">
    </div>
  





 
    <div class="col-md-3">
      <h1 class="text-center" style="padding:4rem;">Artificial Grass</h1>
      <img src="/productPic/artificial-grass-1.jpg" style="width:365px;height:250px;margin-bottom: 7px;">
      <img src="/productPic/artificial-grass-2.jpg" style="width:365px;height:250px;margin-bottom: 7px;">
      <img src="/productPic/artificial-grass-3.jpg" style="width:365px;height:250px;margin-bottom: 7px;">
      <br><br>
      <img src="/productPic/artificial-grass-4.jpg" style="width:365px;height:250px;margin-bottom: 7px;">
      <img src="/productPic/artificial-grass-5jpg" style="width:365px;height:250px;margin-bottom: 7px;">
      <img src="/productPic/artificial-grass-6jpg" style="width:365px;height:250px;margin-bottom: 7px;">
    </div>


      <div class="row">
        <div class="col-md-13">
          <h1 class="text-center" style="padding:4rem;">Vinyle</h1>
          <img src="/productPic/vinyle-1.jpg" style="width:365px;height:250px;;">
          <img src="/productPic/vinyle-2.jpg" style="width:365px;height:250px;;">
          <img src="/productPic/artificial-grass-3.jpg" style="width:365px;height:250px;;">
         
        </div>
      </div>
 
    
    
    
    

      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center" style="padding:4rem;">Laminates</h1>
          <img src="/productPic/laminate-1.jpg" style="width:365px;height:250px;;">
          <img src="/productPic/laminate-2.jpg" style="width:365px;height:250px;;">
          <img src="/productPic/laminate-3.jpg" style="width:365px;height:250px;;">
         
        </div>
      </div>
    

  </div>

</div>

 -->

 <hr>

<div class="container mt-5"> 
  <div class="row">


    <p id="paragraph-1" class="text-justify">
      Craven Park Carpets provides the best quality products and services. We aim to supply carpets, rugs, laminate, vinyl, artifical grass including delivery and fitting if needed.  Craven Park Carpets is dedicated to helping you save money when it comes to refurbishing your home, without compromising on quality. 
    </p>
    
    
    
    
    
    
    <p id="paragraph-4" class="text-justify">
       
      Our brand can assure you with quality and service. So place an order with us with confidence! <br> <strong> Free delivery applies to all orders if you choose fitting service</strong>
    
      
    </p>
    
  </div>
    
    </div>
    

    